<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit your Listings</h3>

    <form method="POST" action="/listings/<%= listings._id %>?_method=PUT " novalidate class="needs-validation">
        <diV class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listings.title %>" type="text" class="form-control" required>
        <br>
        <div class="valid-feedback">Title loke good</div>
        </diV>
        <diV class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"   class="form-control" required><%= listings.description %> type="text" ></textarea>
        <br>
        <div class="invalid-feedback">Please enter short description</div>
    </diV>
        <diV class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input name="listing[image]" value= "<%= listings.image %>" type="text" class="form-control" required>
        <br>

    </diV>
    <div class="row">
        <diV class="mb-3 col-md-4" >
      
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value= "<%= listings.price %>" type="number" class="form-control" required>
        <br>
        <div class="invalid-feedback">Please enter valid price</div>
    </diV>
    <diV class="mb-3 col-md-8" >
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" value= "<%= listings.country %>" type="text" class="form-control" required>
        <br>
        <div class="invalid-feedback">Country name should be valid </div>
    </diV>
        </diV>

        <diV class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value= "<%= listings.location %>" type="text" class="form-control" required>
        <br>
        <div class="invalid-feedback">Location name should be valid </div>
    </diV>
        <button class="btn btn-dark editb">
            Edit
        </button>
        <br>
        <br>
            </form>
            </div>
        </div>

</body>
